altgraph==0.17.4
appdirs==1.4.4
ConfigUpdater==3.2
macholib==1.16.3
packaging==24.1
psutil==6.1.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
Pypubsub==4.0.3
python-osc==1.9.0
reapy-boost==0.10.201
setuptools==75.3.0
six==1.16.0
typing_extensions==4.12.2
wxPython==4.2.2
