altgraph==0.17.4
appdirs~=1.4.4
ConfigUpdater~=3.2
macholib==1.16.3
packaging==24.2
psutil~=7.0.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
Pypubsub~=4.0.3
python-osc~=1.9.3
setuptools==75.5.0
six==1.16.0
wxPython~=4.2.3
